@import url(//db.onlinewebfonts.com/c/befa68745153478cdffc812d1bddc9b2?family=Gabriela+Stencil+Black);

#app {
    background: #ccc;
    margin: 2em auto;
    padding: 2em;
    width: 500px;
  }
  
  #app-title {
    font-size: 2em;
    font-weight: 700;
  }
    body {
        margin: 0;
    }
  .container {
    margin: 0 40px;
        nav {
            padding: 0 40px;;
            background-color: white;
            z-index: 6;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width : 768px) {
               justify-content: center;
            }
            .menu-burger {
                display: flex;
                align-items: center;
                width: 30%;
                @media only screen and (max-width : 768px) {
                  position: absolute;
                  left: 40px;
                  width: inherit;
                  button {
                      display: none;
                  }
                }
                img {
                    cursor: pointer;
                }
                button {
                    margin-left: 3px;
                    border:none;
                    background-color: white;
                    cursor: pointer;
                }
            }
            .title {
                font-size: 16px;
                font-family: "Gabriela Stencil Black";
                @media only screen and (max-width : 768px) {
                    font-size: 12px;
                }
                @media only screen and (max-width : 350px) {
                    font-size: 8px;
                }
            }
        
            .link {
                display: flex;
                width: 30%;
                justify-content: right;
                @media only screen and (max-width : 768px) {
                    display: none;
                   }
                a {
                    text-decoration: none;
                    color: inherit;
                    font-size: 12px;
                    @media only screen and (max-width : 768px) {
                        display: none;
                       }
                }
                img {
                    margin-left: 4px;
                    cursor: pointer;
                    @media only screen and (max-width : 768px) {
                        display: none;
                       }
                }
                &__ticket {
                    display: flex;
                    align-items: center;
                }
                &__calendar {
                    margin-left: 42px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .header {
            position: relative;
            margin-top: 52px;
            &__image {
                background-color: rgba(0,0,0,0.2);
                width: 100%;
                height: 60vh;
            }

            &__image {
                &__block-bottom {
                    position: absolute;
                    top: 60%;
                    left: 45px;
                    color: white;
                    .artist {
                        font-size: 60px;
                        font-family: "Gabriela Stencil Black";
                        @media only screen and (max-width : 768px) {
                            font-size: 30px;
                          }                    width: inherit;
                        margin-top: 10px;
                        margin-left: 16px;
                    }
                    .date {
                        font-size: 16px;
                        .musique {
                            background-color: #992F45;
                            padding: 12px 7px;
                            margin-right: 6px;
                            font-family: "Gabriela Stencil Black";
                            @media only screen and (max-width : 768px) {
                                display: flex;
                                justify-content: center;
                                width: 35%;
                                margin-bottom: 6px;
                               }
                        }
                        @media only screen and (max-width : 768px) {
                           display: flex;
                           flex-direction: column;
                          }
                       
                    }
                    .title {
                        margin-left: 16px;
                        font-size: 28px;
                        font-family:  'Roboto';
                        @media only screen and (max-width : 768px) {
                            font-size: 14px;
                          }
                    }
                }
                &__block-top {
                    position: absolute;
                    top: 2%;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: white;
                    font-size: 13px;
                    letter-spacing: 0;
                    line-height: 15px;
                }
                &__block-bullet {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 8%;
                    left: 48%;
                    // right: 0;
                    // text-align: center;

                    img {
                        margin-right: 12px;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: cover;
                      filter: brightness(70%);
                }
            }   
        }
        .cards {
            margin: 0 90px;
            &__themes {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 40px;
                @media only screen and (max-width : 820px) {
                   justify-content: center;
                   }
                #cinema {
                    background-color: #4996D2;
                    font-family: "Gabriela Stencil Black";
                    font-size: 24px;
                }
                #spectacle {
                    background-color: #992F45;
                    font-family: "Gabriela Stencil Black";
                    font-size: 24px;
                }
                #art {
                    background-color: #C45685;
                    font-family: "Gabriela Stencil Black";
                    font-size: 24px;
                }
                #enfants {
                    background-color: #ED6C00;
                    font-family: "Gabriela Stencil Black";
                    font-size: 24px;
                }
                .cinema-theme {
                    .cards-descriptif {
                        &__date {
                            color: #4996D2;
                        }
                        &__image {
                            height: 374px; 
                            object-position: center;
                            object-fit: cover;
                         }
                         &__next {
                            display: flex;
                            align-items: center;
                            @media only screen and (max-width : 820px) {
                               margin-bottom: 40px;
                                }
                            img {
                                cursor: pointer;
                                margin-right: 10px;
                                height: 6px;
                                width: 6px;
                            }
                            .lineblack {
                                width: 16px;
                                height: 8px;
                                margin-left: 6px;
                            }
                         }
                    }
                }
                .art-theme {
                    .cards-descriptif {
                        &__date {
                            color: #C45685;
                        }
                        &__image {
                            height: 374px; 
                            object-position: center;
                            object-fit: cover;
                         }
                    }

                }
                .spectacle-theme {
                    .cards-descriptif {
                        &__date {
                            color: #992F45;
                        }
                        &__comment {
                            color: #992F45;
                        }
                        img {
                           height: 240px; 
                           object-position: center;
                           object-fit: cover;
                        }
                        &__border {
                            height: 1px;
                            width: 100%;
                            border-bottom: solid 0.5px;
                            margin-bottom: 24px;
                        }
                    }
                }
                .kid-theme {
                    .cards-descriptif {
                        &__date {
                            color: #ED6C00;
                        }
                        &__image
                        {
                           height: 240px;
                           object-position: center;
                           object-fit: cover;
                        }
                        &__border {
                            height: 1px;
                            width: 100%;
                            border-bottom: solid 0.5px;
                            margin-bottom: 24px;
                        }
                    }
                }
                &__theme {
                    a {
                        text-decoration: none;
                        color: black;

                    }
                    .theme-square {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 104px;
                        width: 280px;
                        color: white;
                        margin-bottom: 40px;
                    }

                    .cards-descriptif {
                        width: 280px;
                        &__image {
                            width: 100%;
                            margin-bottom: 17px;
                        }
                        &__title {
                            font-size: 28px;
                            line-height: 26px;
                            font-family: "Gabriela Stencil Black";
                            font-weight: lighter;

                        }
                        &__date {
                            font-family: "Roboto";
                            font-weight: 400;
                            margin-bottom: 7px;
                            font-size: 14px;
                        }
                        &__comment {
                            // font-family: "Roboto Medium";
                                font-size: 14px;
                        }
                        &__content {
                            font-size: 16px;
                           line-height: 19px;
                           margin-top: 9px;
                           margin-bottom:30px;
                           text-transform: uppercase;
                           font-family: "Roboto";
                           font-weight: 300;
                        }
                    }
                }

            }
        }

  }
  .footer-top {
    color: white;
    margin-top: 60px;
    background-color: #1D1D1D;
    &__container {
        margin: 0 130px;
        @media only screen and (max-width : 768px) {
            margin: 0 40px;
           }
        &__contact {
            padding-top: 53px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            @media only screen and (max-width : 768px) {
                display: flex;
                flex-direction: column;
               }
            &__title {
                font-family: "Gabriela Stencil Black";
                font-size: 40px;
                @media only screen and (max-width : 768px) {
                    margin-bottom: 12px;
                    font-size: 20px;
                   }
            }
            &__icone {
                display: flex;
                img {
                    margin-left: 6px;
                    cursor: pointer;
                    // height: 12px;
                    // width: 12px;
                }
            }
        }
        .articles-cards {
            columns: 5 200px;
            column-gap: 1rem;
            &__card {
                width: 223px;
                color: white;
                margin: 0 1rem 1rem 0;
                display: inline-block;
                width: 100%;
                font-size: 14px;
                img {
                    width: 100%;
                }
            }
        }
    }

}
.footer-bottom {
    height: 52px;
    display: flex;
    @media only screen and (max-width : 768px) {
       justify-content: flex-end;
        }
    &__infos {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        color: white;
        background-color: black;
        position: fixed;
        bottom:0;
        right:0;
        height: 52px;
        font-size: 14px;
        @media only screen and (max-width : 768px) {
            position: inherit;
            }
        a {
            text-decoration: none;
            color: white;
            font-family: "Gabriela Stencil Black";
        }
 
    }

}

