
    @font-face {
        font-family: 'gabrielastencilw00-boldRg';
        src:
             url('../assets/fonts/gabriela_stencil_w00_bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'gabriela_stencilblack';
        src:
             url('../assets/fonts/gabrielastencil-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    